{% extends 'librarian/base.html' %}

{% block style %}
<style>
    .hover-box:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        color: rgb(202, 66, 66);
    }
    .hover-box {
        transition: all 0.3s ease-in-out;
    }
</style>
{% endblock %}

{% block body %}
{% include 'user/usertopbar.html' %}
<h2 class="text-center my-5">Available Books</h2>

<div class="container">
    <div class="row">
        {% for book in book_list %}
        <div class="col-md-4 mb-4 hover-box">
            <div class="card">
                <img src="{{ book.b_image.url }}" class="card-img-top" alt="{{ book.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.description|slice:":100" }}...</p> <!-- Display part of the description -->
                    <a href="{%url 'book_details' book.id%}" class="btn btn-info btn-block mb-2">View Details</a>
                    <a href="{% url 'add_to_cart' book.id %}"  class="btn btn-info btn-block mb-2">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
