{% extends 'base.html' %}

{% block style %}
    <style>
        .hover-box:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
            background-color: #007bff;
            color: white;
        }
        .full-height {
            height: 10px;
            padding-top: 400px;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="row g-4 full-height">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="page1.html" class="text-decoration-none w-100 h-100">
                    <div class="card hover-box h-100 text-center">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <h2 class="card-title">Manage Books</h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="page2.html" class="text-decoration-none w-100 h-100">
                    <div class="card hover-box h-100 text-center">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <h2 class="card-title">Manage Author</h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="page3.html" class="text-decoration-none w-100 h-100">
                    <div class="card hover-box h-100 text-center">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <h2 class="card-title">Manage User</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
